<br>

<div class="jumbotron">
  <h1>dangrBloccit</h1>
  <p>dangrBloccit is like instagram without any pictures or the social sharing features.</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>  
</div>

<div class="row">
  <div class="col-md-4">
    <h2> Solves the Californian water crisis </h2>
    <p> dangrBloccit will ration water to only those in Cali that actually need it and create world peace.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>dangrBloccit will send drones to drop food, money and education upon the most needful peoples of the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Improves your appearance</h2>
    <p>dangrBloccit will make you better looking and regrow/remove hair depending on your preference.</p>
  </div>
</div>    


